{{#> layouts/_Layout mlr=""}}
{{#*inline "header-block"}}
	<title>Brother | Ciudad de México</title>
	<meta name="description" content="" />
	<link rel="canonical" href="" />
{{/inline}}

{{#*inline "body-block"}}

<div id="front" class="main-content">
	<div class="container-fluid">
		<section id="hero" class="row">
			<div class="content slide">
				<img class="content-img" src="../img/img_b01_full.png" alt="" width="">
			</div>
		</section>
		
		<section id="cursos" class="row  c-wrapper">
			<div class="col-12">
				<div class="section_h">
					<h1 class="">Cursos</h1>
				</div>
			</div>	
			<div class="col-12">
				<div class="row justify-content-md-center">

					<div class="col-xs-12 col-lg-8">
						<div class="row content">

							<div class="col-xs-12 col-md-6 order-md-2">
								<div class="content-img">
									<img class="" src="../img/img_article_01.png" alt="" width="">
								</div>
							</div>
							<div class="col-xs-12 col-md-6 order-md-1">
								<div class="content-txt">
									<h2 class="">Programa Intensivo de Creatividad</h2>
									<p>Pensando para los que no quieren perder el año y entendieron que vivimos en un mundo cada vez más exigente y competitivo, en donde para destacarse no alcanza con tener una buena idea. En el curso intensivo de Brother México vas a aprender redacción, dirección de arte, producción y planning, todas herramientas imprescindibles para llevar tus ideas al próximo nivel. Desarrolla tus skills para poder trabajar en donde quieras: una agencia, tu propio emprendimiento o como freelance.</p>
									<a href="content-link" target="_self" class="button" >Descargar info</a>
								</div>
							</div>
							
						</div>
					</div>
				
				</div>
			</div>
		</section>

		<section id="noticias" class="row justify-content-center c-wrapper">
			<div class="col-xs-12 col-md-4">	
				
				<div class="section_h">
					<h1 class="">Noticias</h1>
				</div>
				<div class="">
					<div class="content-img">
						<img class="" src="../img/img_vid.png" alt="" width="">
					</div>

					<div class="row content">
						<div class="col-3">
							<div id="date">
								<span id="number">23</span>
								<div><span>Jul/</span><span>/21</span></div>
							</div>
						</div>
						<div class="col-9">
							<div class="preview">
								<h3>El festival Cannes Lions 2021 nombró a Brother como la mejor escuela creativa del mundo y seleccionó a uno de sus alumnos como ganador de la categoría para estudiantes.</h3>
								<p>Así lo ha decidido el Festival más importante de la publicidad, posicionando a Brother como la primera escuela de habla hispana en conseguir este reconocimiento.</p>
								<a href="content-link" target="_self" class="button" >Leer más</a>
							</div>
						</div>
					</div>

				</div>
			</div>	
		</section>

		<section id="contacto" class="row justify-content-center c-wrapper">
			<div class="col-xs-12 col-md-4">
				<div>
					<div id="ig" class="ig">
						<span class="logo-bkg">@brothermexico</span>
					</div>
				</div>
				<div class="section_h">
					<h2 class="text-center">Contacto</h2>
				</div>
				<div class="content">
					<p class="text-center">Puedes empezar con Hola...</p>
					<div class="">
						<form method="post" name="contact" id="contact-form">
							<div class="form-row">
								<div class="form-group col-6">
									<label  for="first-name">First Name</label>
									<input class="form-control" type="text" id="first-name" name="first-name" required>
								</div>
								<div class="form-group col-6">
									<label  for="e-mail">E-mail</label>
									<input class="form-control" type="email" id="e-mail" name="e-mail" required>
								</div>
								<div class="form-group col-12">
									<label  for="mensaje">Mensaje</label>
									<textarea class="form-control" type="text" id="mensaje" name="mensaje"  rows="3" required></textarea>
								</div>
							</div>
						</form>
					
					
					</div>
					<a href="" target="_self" class="button" >Enviar</a>
				</div>
				
			</div>
		</section>
	</div>
</div>

{{/inline}}
{{/layouts/_Layout}}