@import url("http://fonts.cdnfonts.com/css/fivo-sans");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");
.color-1 {
  color: #000000; }

.color-2 {
  color: #494949; }

.color-3 {
  color: #000000; }

.color-4 {
  color: #000000; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: 'Fivo Sans', sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
  overflow-x: hidden; }
  @media (max-width: 768px) {
    body {
      font-size: 14px; } }
  @media (max-width: 768px) {
    body {
      font-size: 14px; } }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
h4,
p {
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: none; }

header {
  width: 100%; }
  header .navbar .navbar-brand {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    padding: 8px 0; }
    header .navbar .navbar-brand .brand-bold {
      font-weight: 900; }
  header .navbar .navbar-nav a {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    margin: 0 1.5rem; }

.navbar-header {
  height: 66px;
  padding: 0 1.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/*@media (min-width: $sm) {
	min-height: calc(100vh - 289px);
}*/
#front h1 {
  font-family: 'Fivo Sans', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  margin: 6rem 0;
  text-transform: uppercase;
  text-align: center; }

#front h2 {
  font-family: 'Fivo Sans', sans-serif;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 1.2;
  margin: 5rem 0;
  text-align: left; }

#front h3 {
  font-family: 'Fivo Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 2rem 0;
  text-align: left; }

#front p {
  font-family: 'Fivo Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 450;
  line-height: 1.5;
  margin: 3rem 0;
  text-align: left; }

#front a {
  font-family: 'Fivo Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 900;
  margin: 2rem 0;
  text-transform: uppercase;
  display: block;
  width: fit-content; }

#front #hero .content {
  width: 100%; }

#front #hero .content-img {
  width: 100%; }

#front .c-wrapper {
  padding-bottom: 6rem; }

#front #cursos .content {
  align-items: center; }
  #front #cursos .content .content-txt {
    padding-right: 20px; }
    @media (max-width: 992px) {
      #front #cursos .content .content-txt {
        padding-right: 0; } }
  #front #cursos .content .content-img {
    max-width: 589px; }

#front #noticias {
  background-color: #fff1cc; }
  #front #noticias img {
    margin: 0 auto;
    max-width: 100%; }
  #front #noticias .content {
    padding-top: 2rem; }
    #front #noticias .content p {
      font-size: 1.2rem;
      font-weight: 450;
      margin: 2rem 0; }
    #front #noticias .content a {
      font-size: 1rem; }
    #front #noticias .content #date {
      margin-top: 2rem;
      text-align: center; }
      #front #noticias .content #date #number {
        font-family: 'Playfair Display', serif;
        font-size: 2.4rem;
        font-weight: 900; }
      #front #noticias .content #date div {
        font-family: 'Playfair Display', serif;
        font-size: 1.2rem;
        font-weight: 900; }

#front #contacto {
  padding-top: 6rem; }
  #front #contacto .content p {
    font-weight: 450; }
  #front #contacto .content #contact-form label {
    font-size: 1.6rem;
    font-weight: 300;
    color: #898989; }
  #front #contacto .content #contact-form input, #front #contacto .content #contact-form textarea {
    font-size: 1.6rem;
    font-weight: 300;
    color: #000000;
    border: none;
    border-bottom: 1px solid #898989;
    border-radius: 0; }
  #front #contacto #ig {
    text-align: center;
    padding-bottom: 3rem; }
  #front #contacto span {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1em;
    padding-left: 65px;
    position: relative; }
    #front #contacto span:before {
      content: '';
      background-image: url(../img/logo-ig.png);
      background-size: 5rem;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: -13px; }

footer .content p {
  font-family: 'Playfair Display', serif;
  color: #494949;
  font-size: 1.3rem;
  line-height: 1.2; }
  footer .content p span {
    color: #000000; }

footer .c-wrapper {
  padding-bottom: 2rem; }
