<footer>
  
  <div class="footer-links">
    
  <div class="footer-cont">
    <div class="footer-cont-text">
      <p>© 2016 All rights reserved. Development with by UnionAgency.</p>
    </div>
  </div>
</footer> 