<footer>
<div class="container-fluid">
	<div class="row c-wrapper">
		<div class="col-12">
			<div class="content">
			<p>© 2016 All rights reserved. Development with by <span>UnionAgency</span>.</p>
			</div>
		</div>
	</div>
</div>
</footer> 