<header>
<nav class="navbar navbar-default">
	<div class="navbar-header container-fluid">
		<a class="navbar-brand" href="https://brotherad.com/mexico/" target="_blank" ><span class="brand-bold">Brother</span> | Ciudad de México</a>
		
			<ul class="navbar-nav list-group-horizontal">
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >Somos Brother</a></li>
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >Cursos</a></li>
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >Noticias</a></li>
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >WeAreDoers</a></li>
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >Contacto</a></li>
			</ul>
		
	</div>
</nav>

</header>