<header>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<!--div class="navbar-header container-fluid"-->
		<a class="navbar-brand" href="https://brotherad.com/mexico/" target="_blank" ><span class="brand-bold">Brother</span> | Ciudad de México</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto text-right">
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >Somos Brother</a></li>
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >Cursos</a></li>
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >Noticias</a></li>
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >WeAreDoers</a></li>
				<li class="nav-item"><a class="nav-link" href="https://brotherad.com/mexico/" target="_blank" >Contacto</a></li>
			</ul>
		</div>
	<!--/div-->
</nav>
</header>