footer {


	.content {

		p {
			font-family: 'Playfair Display', serif;
			color: #494949;
			font-size: 1.3rem;
			line-height: 1.2;

			span {
				color: #000000;
			}
		}
	}

	.c-wrapper{
		padding-bottom: 2rem;
	}

}