header { 
	width: 100%;

	.navbar{
		

		.navbar-brand {
			color: black;
			font-family: 'Playfair Display', serif;
			font-size: 2rem;
			font-weight: 400;
			text-decoration: none;
			padding: 8px 0;
			@media (max-width: $md) {
				margin: 0 auto;
			}

			.brand-bold {
				font-weight: 900;
			}
		}

		.navbar-nav{
			a {
				color: black;
				font-family: 'Playfair Display', serif;
				font-size: 1.4rem;
				margin: 0 1.5rem;
			}
		}
		
	
	}
}
.navbar-header {
	height: 66px;
	padding: 0 1.5rem;
	width: 100%;

	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;}
